@import
	url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

@import
	url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Nanum+Pen+Script&display=swap')
	;

.mypagebar  {
	    list-style-type: none;
	    margin: 0;
	    padding: 0;
	    width: 200px;
	    margin-left: 300px;
	}
	
div.table {
	position : absolute;
	top:50%;
	left:50%;
	transform : translate(-50%, -50%);
		margin-bottom: 300px;
	}
.mypagebar > li a {
	    display: block;
	    color: #000;
	    padding: 8px 16px;
	    text-decoration: none;
	}
.mypagebar > li a.active {
	    background-color: #F0E68C;
	    color: white;
	}
.mypagebar > li a:hover:not(.active) {
	    color: 	#F0E68C;
	}
	
#contain {
	display: flex;
    height:800px;
    
}
#item {
	  flex-grow:1;
}
#item:nth-child(2){
        flex-grow:2;
}

.button {
	border-radius: 5px;
	width: 50%;
	height:30%;
	cursor:pointer;
}
/* .button2 {
	border-radius: 5px;
	width: 100px;
	height:30px;
	cursor:pointer;
	float: center;
} */
.hostagreeBtn {
	border-radius: 5px;
	width: 100px;
	height:30px;
	cursor:pointer;
	float: right;
}
.dropBtn {
	border-radius: 5px;
	width: 100px;
	height:30px;
	cursor:pointer;
	margin-top: 10px;
}

.modifyprofileBtn {
	border-radius: 5px;
	width: 100px;
	height:30px;
	cursor:pointer;
	float: right;
	margin-top: 10px;
}

.completeprofileBtn {
	border-radius: 5px;
	width: 100px;
	height:30px;
	cursor:pointer;
	float: right;
	margin-top: 10px;
}

#change {
	margin-left: 30px;
}
#reglist{
	width : 700px; 
	height : 100px;
	align : center;
}
.tablebar{
	width:700px;
	height:20px;
}
#reglist2{
	width : 600px; 
	height : 200px;
	align : left;
}
.list_contain{
	margin-left: 150px;
}
.list_contain2{
	margin-left: 100px;
}

#deleteBtn {
	margin-left: 20px;
}

.profilephoto {
	width : 250px; 
	height : 250px;
	margin-left: 300px;
	border-radius:50%;
}
#profiletext {
	width : 650px; 
	height : 180px;
	margin-left: 100px;
}

#deleteaccount {
	margin-left: 150px;
}
.password {
   margin-left: 150px;
}
#accountdrop
 {
 margin-top: 10px;
 }
.topline {
   margin-right: 300px;
}


